# Data Handling & Core Libraries
pandas
numpy
openpyxl
geopandas
requests

# Jupyter Environment
notebook
jupyterlab

# Natural Language Processing (NLP)
scikit-learn  # For text vectorization (TF-IDF, etc.) and modeling
nltk          # For tokenization, stop words, and other text processing
arabic-reshaper # To handle Arabic text reshaping
python-bidi # To handle bidirectional text (like Arabic)

# Geospatial Analysis
geopandas     # To work with geospatial data if you go that route

# Data Visualization
matplotlib
seaborn
wordcloud

